.WeatherInfo .row .city-and-info {
    width: 250px;
    border-radius: 12px;
    padding: 0;
}

.WeatherInfo .row ul{
  list-style: none;
}

.WeatherInfo  .row ul li{
  font-size: 18px;
  padding-top: 4px;
}

.WeatherInfo  .row h1{
    font-size: 34px;
  font-weight: 600;
  margin-top:0;
  margin-left: 20%;
  padding-top: 0;
  color: #ffe2e2;
text-shadow:
	            0 0 5px rgba(54, 54, 54, 0.05),
	            0 1px 3px rgba(54, 54, 54,.2),
	             0 3px 5px rgba(54, 54, 54,.2),
	            0 5px 10px rgba(54, 54, 54,.2),
	              0 10px 10px rgba(54, 54, 54,.2),
	              0 20px 20px rgba(54, 54, 54,.3);
}

.WeatherInfo li{
  margin-left:8%;
  font-size: 20px;
  font-weight: 500;
  padding: 0;
  color: #707070;
}