.Weather .container   {
   max-width: 800px;
  height: 550px;
  border-radius: 30px;
  background: #e0e0e0;
 box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.Weather .container form {
    display: flex;
    flex-wrap:wrap;
    padding: 5% 6% 2% 30%;
}

.Weather .container form .row .search{
  padding: 12px 100px 12px 55px;
  box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-color:#ffe2e2;
  border-style: solid;
  border-width: 6px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 900;
}

.Weather .container form .row .btn{
  display: flex;
  justify-content: center;
  align-items: center;
    color: #707070;
  padding: 12px 26px;
  box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: white;
  border-color:#ffe2e2;
  border-style: solid;
  border-width: 6px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 900;
}

