@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');
 
 .App {
   margin: 20px;
   padding: 20px;
   font-family:Rubik;
 }


.App footer {
  text-align: center;
  margin-top: 20px;
}


.weather-forecast{
margin: 0 auto;
padding: 0;
}